.rounded-circle
{
    height: 8rem;
    border: 2px solid black
}


.carousel-item{
    height: 350px;
}

.progress-label {
    float: left;
    margin-right: 3em;
}

.html, .css, .JS {
    text-align: center;
    margin:
}

img-fluid